<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,500;1,600&display=swap');

body{
    background-color: #FFF9F9;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 6%;   
    background-image: url('/images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

header{
    height: 5%;
    padding-left: 20%;
}


.left{
    width: 100%;
    height: 95%;
    padding-left: 20%;
    padding-top: 1%;
}

.right{
    width: 50%;  
}

.right img{
    width: 100%;
    height: 100%;
}

.desktopHero{
    width: 99%;
    height: 100%;    
}


.lighter{
    font-weight: lighter;
    color: #C7999C;
}

h1{
    font-size: 50px;
    margin-top: 7%;    
}

.title{
    letter-spacing: 20px;  
    font-size: 50px;
    padding-bottom: -80px;
    height: 40%;
    margin-top: 5%;
    width: 30%;
}

.bold{
    color: #403738;
    margin-bottom: -10%;
}

.upper{
    margin-top: -10%;
}

.text{
    color: #C7A2A9;
    width: 40%;
    font-size: 16px;
    line-height: 190%;
    position: relative;
    top: -5%;
}

.email{
    border-radius: 25px;
    height: 7%;
    width: 30%;
    border: solid #DACBCE;
}

.btnSend{
    border-radius: 25px;
    height: 7%;
    width: 9%;
    background-color: #F4ACAD;
    background-image: url('/images/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: center; 
    border: solid #F4ACAD;
    position: relative; 
    top: 18px;
    right: 70px;       
}

:invalid{
    border: solid red;
}

.mobileHero{
    display: none;
}

@media screen and (max-width:1250px){

    .btnSend{

        right: 50px;

    } 


}

@media screen and (max-width:900px){

    body{
        width: 376px;
        height: 801px;
        display: flex;
        flex-direction: column-reverse;
        border: solid green;
    }

    section{
        width: 374px;
        height: 799px;
    }

    .text{
        width: 100%;
        height: 25%;
        text-align: center;
        position: relative;
        top: 5px;
    }

    .title{
        font-size: 25px;
        top: 10px;
        position: relative;
        left: 22%;
        top: 10%; 
    }

    .mobileHero{
        display: block;
    }

    .desktopHero{
        display: none;
    }

    .right{
        width: 100%;
        position: relative;
        top: 60px;
    }

    header{
        position: absolute;
        top: 1%;
        width: 45%;
        height: 5%;
        padding-left: 30px;
        margin-top: 2%;
    }

    .left{
        padding-left: 0%;
        
    }

    .btnSend{
        width: 15%;
        height: 9%;
        position: relative;
        left: 70%;
        top: -15%;
    }

    .email{
        width: 70%;
        height: 9%;
        margin: 30px;        
    }

  

}




=======
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,500;1,600&display=swap');

body{
    background-color: #FFF9F9;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 6%;   
    background-image: url('/images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

header{
    height: 5%;
    padding-left: 20%;
}


.left{
    width: 100%;
    height: 95%;
    padding-left: 20%;
    padding-top: 1%;
}

.right{
    width: 50%;  
}

.right img{
    width: 100%;
    height: 100%;
}

.desktopHero{
    width: 99%;
    height: 100%;    
}


.lighter{
    font-weight: lighter;
    color: #C7999C;
}

h1{
    font-size: 50px;
    margin-top: 7%;    
}

.title{
    letter-spacing: 20px;  
    font-size: 50px;
    padding-bottom: -80px;
    height: 40%;
    margin-top: 5%;
    width: 30%;
}

.bold{
    color: #403738;
    margin-bottom: -10%;
}

.upper{
    margin-top: -10%;
}

.text{
    color: #C7A2A9;
    width: 40%;
    font-size: 16px;
    line-height: 190%;
    position: relative;
    top: -5%;
}

.email{
    border-radius: 25px;
    height: 7%;
    width: 30%;
    border: solid #DACBCE;
}

.btnSend{
    border-radius: 25px;
    height: 7%;
    width: 9%;
    background-color: #F4ACAD;
    background-image: url('/images/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: center; 
    border: solid #F4ACAD;
    position: relative; 
    top: 18px;
    right: 70px;       
}

:invalid{
    border: solid red;
}

.mobileHero{
    display: none;
}

@media screen and (max-width:1250px){

    .btnSend{

        right: 50px;

    } 


}

@media screen and (max-width:900px){

    body{
        width: 376px;
        height: 801px;
        display: flex;
        flex-direction: column-reverse;
        border: solid green;
    }

    section{
        width: 374px;
        height: 799px;
    }

    .text{
        width: 100%;
        height: 25%;
        text-align: center;
        position: relative;
        top: 5px;
    }

    .title{
        font-size: 25px;
        top: 10px;
        position: relative;
        left: 22%;
        top: 10%; 
    }

    .mobileHero{
        display: block;
    }

    .desktopHero{
        display: none;
    }

    .right{
        width: 100%;
        position: relative;
        top: 60px;
    }

    header{
        position: absolute;
        top: 1%;
        width: 45%;
        height: 5%;
        padding-left: 30px;
        margin-top: 2%;
    }

    .left{
        padding-left: 0%;
        
    }

    .btnSend{
        width: 15%;
        height: 9%;
        position: relative;
        left: 70%;
        top: -15%;
    }

    .email{
        width: 70%;
        height: 9%;
        margin: 30px;        
    }

  

}




>>>>>>> e1e7e3cb2fcaf94f00be990a4775e9b8c395cae6
