@import url('https://fonts.googleapis.com/css2?family=Scheherazade&display=swap');
*{box-sizing: border-box;}
*{font-family: 'Scheherazade', serif;}

body{
    display:flex;
}

main{
    display: flex;
    height: 100%;    
}

section{
    width:55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #222628, #35414D 80%, #374653 96% );
    align-items: center;
}

aside{
    width:45%;
    height: 100%;
    display:flex;
    align-items: center;
    background-color: #374653;
    background-image: url('/images/background1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundImage{
    height: 100%;
    width: 100%;
    background-image: url('/images/background2.png');
    background-repeat: no-repeat;    
    background-size: cover;
}

h1{
    width: 95%;
    font-size: 5em;
    color: #D8C795;
    height: 20%;
    margin-bottom: 0;
    display: flex;
    align-items: end;
    padding-left: 11.6%; 
    background-color: #1b1f2449;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    left: 40%;
}

form{
    width: 95%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    border-radius: 0px 0px 10px 10px;
    background-color: #1b1f2449;
    position: relative;
    left: 40%;
}

.firstLevel{
    height: 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.firstLevel div{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.secondLevel{
    height: 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.secondLevel div{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.entry.succes i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
    position: relative;
    bottom: 68%;
    left: 93.1%
}


.thirdLevel{
    height: 20%;
    display: flex;
    justify-content: center;
}

.thirdLevel div{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;    
}

input[type="submit"]{
    width: 20%;
    margin: auto;
    background-color: #D8C795;
    border-style: none;
    border-radius: 5px;
    height: 7%;
    position: relative;
    bottom: 5%;
    color: #fff;
    cursor: pointer;
    font-size: 2em;
}

input[type="submit"]:hover{
    transform: scale(1.1);
    transition: .5s;
}


.inputsForm{
    height: 50%;
    width: 70%;
    margin-left: 6%; 
    background-color: #65696B;
    border-radius: 5px;
    border-style: none;   
    font-size: 2em;  
    color: rgb(56, 55, 55);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 94%;
    outline: none;
}

.inputsForm:focus{
    border: solid 1px #D8C795;
    
}

.firstName input{
    background-image: url('/images/user.svg');
}

.lastName input{
    background-image: url('/images/user.svg');
}

.cardNumber input{
    background-image: url('/images/creditCard.svg');
}

.cvc input{
    background-image: url('/images/creditCard.svg');
}

.expiration-input{
    background-image: url('/images/calendar.svg');
}

.numberCard{
    position: absolute;
    color: #fff;
    top: 30%;
    font-size: 3.3em;
    left: 5%;
}

.dateExpiration{
    position: absolute;
    color: #fff;
    font-size: 1.3em;
    top: 67%;
    left: 26%;
}

.cvcCode{
    position: absolute;
    font-size: 2.7em;
    top: 26%;
    left: 77%;
}

label{
    position: relative;
    left: 6%;
    top: 5%;
    color: #D8C795;
    font-size: 2rem;
}

.entry i{
    visibility: hidden;
}


.entry small{
    color: #e74c;
    position: relative;
    top: 10%;
    left: 6%;
    visibility: hidden;
}

.entry.error small{
    visibility: visible;
    font-size: 2em;
    position: relative;
    bottom: 10%;
}


.card{
    position: relative;
    top: 7%;
    right: 15.3%;
    width: 425px;
    height: 268px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    user-select: none;  
    transition: 1s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;  
}

.card.active {
    transform: rotateY(180deg);
}

.frontCard, .backCard{
    height: 100%;
    width: 100%;
    border-radius: 10px;  
}

.frontCard{
    background-image: url('/images/frontCard.svg');
    background-position: center;
    background-position-y: 45%;
}   

.backCard{
    display: none;
}

.frontCard.flipped{
    display: none;  
}

.backCard.flipped{
    display: flex;
    position: absolute;
    top: 0%;
    background-image: url('/images/backCard.svg');
    background-position: center;
    background-position-y: 45%; 
    transform: rotateY(180deg);
}

.firstNameText{
    font-size: 1.7em;
    color: #fff;
    position: absolute;
    top: 73%;
    left: 5%;
}

.lastNameText{
    font-size: 1.7em;
    color: #fff;
    position: absolute;
    top: 73%;
    left: 22%;
}

@media screen and (max-width: 1300px){


    body{
        width: 1200px;
    }

    .card{
        transform: scale(.8);   
        right: 36%;
        top: 5%;           
    }

    form{
        transform: scale(.8);
        position: relative;  
        left: 50%;
        width: 130%;
    }

    h1{
        transform: scale(.8);
        position: relative;
        top: 8.1%;  
        left: 50%;
        width: 130%;
    }

}