body{
   
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: #edf2f8;
    
    
}

main{

    width: 813px;
    height: 279px;
    display:flex;
    flex-direction:row-reverse;
    background-color: #fff;    
    border-radius: 15px;    
    box-shadow: 2px 2px gray;
    
    
    
    
}

aside{
    
    float: left;    
    width: 445px;
    height:  295x;
    border-radius: 15px 0px 0px 15px; 
    
    
   
}

h1{

    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #505767;
}

h2{
    font-weight: lighter;
    font-size: 15px;
    color: #9198A0;
    line-height: 130%;
    
}


img{
    width: 275px;
    height: 279;    
}

.photo{

    display: flex;
    border-radius: 50%;      
    width: 40px;
    height: 41px;
    margin: 15 0 0 0;     

}

.name{
    margin: 20;
    font-weight: bold;
    font-size: 13px;
    
}

.avatar{
    display: flex;
    
}

.date h3{
    font-family: "manropre", sans-serif;
    margin: -20 62 60;
    font-size: 13px;
    font-weight: lighter;
    }



.button-default{
    width: 29px; height: 29px;    
    margin-left: 400px;
    margin-top: -90px;
    
}   

section{
    font-family: "manrope", sans-serif;    
    width: 731px;
    height: 280px;
    margin: 20 50 50 50;
    
}


.main-photo{
    border-radius: 15px 0px 0px 15px;
}




.popup{
    width: 220px;
    height: 55px;
    border-radius: 9px;
    background-color: #445164;
        
}

.popup h3{
    display: flex;
    color: #fff;
    font-size: 16px;
    font-family: "manropre", sans-serif;
    font-weight: 100;
    margin: 20 10 0 30    
}

.fa-twitter{
    color: #fff;
    margin-right: 5px;
}

.fa-facebook-square{
    color: #fff;
    margin-right: 5px;
}

.fa-pinterest-square{
    color: #fff;
    margin-left: 5px;
}

.button-selected{
    width: 29px; height: 29px;
}   

.buttons-media{
    margin: -19 -80 0 116;
}


.button-selected{
    display: none;
    margin-left: 400px;
    margin-top: -90px;
}


.overlay:hover .button-selected{
    display: block;
}

.popup{
    display: none;
    position: absolute;
    bottom: 400px;
    right: 510px;
    

}

.overlay:hover .popup{
    display: block;
}


@media screen and (max-width: 800px) {
    main{
        flex-direction: column-reverse;
        Width:  270px;
        Height: 410px;        
        
        
    }

    .espaciado{
        Width:  240px;
        Height: 80px;        
        margin-top: 30px;
        margin-left: -10px;
    }

    .espaciado-h2{
        Width:  240px;
        Height: 80px;
        
        margin-top: -20px;
        margin-left: -10px;
    }


    body{
 
        Width:  270px;
        Height: 667px;
                
    }

    .buttons-media{
        position: relative;
        top: 38px;
        left: -10px;
        
    }

    section{
        width: 270px;
        height: 170px;
    }

    .container{
        width: 270px;
        height: 84px;
        margin: 0 0 140 -25;
    }
    
    .main-photo{
        width: 270px;
        height: 200px;
        margin: 0 0 -30 0;
    }

    .button-default{
        
        margin: -61 0 60 200;
        
    }
 

    .main-photo{
        border-radius: 15px 15px 0px 0px;
    }

    .container h2{
        font-size: 10px;         
        
    }

    .container h1{
        font-size: 13px;     
        hyphens: auto;
        word-wrap: break-word;
        word-break: break-word;
        line-height: 130%;
        color: #505767;
        
    }

    
    .button-default{
        position: absolute;
        top: 560px;
    }

    .popup{
        width: 269px;
        Height: 11%;
        position: absolute;
        bottom: -43px;
        left: 10px;
        
    }

    .popup h3{
        margin: solid green;
        position: absolute;
        top: -1px;
        left: -10px;
    }

    .button-selected{
        position: relative;
        right: 200px;
        bottom: -29px;
    }

    .photo{
        position: relative;
        bottom: 25px;
    }

    h3{
       position: absolute;
       top: 540px;
       left: 28px;
       font-size: 13px;
       
    }

    .avatar h2{
        position: absolute;
        top: 480px;
        left: 69px;
        font-size: 12px;
    }

        
   
}

