@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{font-family: 'Rubik', sans-serif;};
*{box-sizing: border-box;}



.tagSearchBar{
    width: 74%;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    margin-bottom: 3%;
}


#keyWordContainer{
    display: none;
}

#keyWordContainer.active{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0% 3%;
}

.jobCard{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    width: 70%;
    height: 15%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    padding: 0% 2%; 
}

.hide{
    display: none;
}

.writtenInfo h3{
    color: #6CA2A1;
}

.writtenInfo{
    margin-left: 10%;
}

.leftContainer{

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.rightContainer{
    display: flex;
    align-items: center;
    width: 40%;
    
}

.tags2{
    background-color: #EDF6F3;
    color: #6CA2A1;
    margin-right: 2%;
    border-radius: 5px;
    cursor: pointer;
    border-style: none;
}

.tags2:hover{
    background-color: #6CA2A1;
    color: #fff;
}

.tag2Container{

    display: flex;
    align-items: center;
}

.logoImg{
    width: 30%;
    height: 60%;
}

.specifics{
    color: #8F9596;
}

.tagContainer{
    position: relative;   
 
}

span.tags1{
    background-color: #EDF6F3;    
    border-radius: 5px;
    margin-right: 4%;
}

header img{
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0FAFB; 
}

header{
    background-color: #5DA5A4;
}

.filtered{    
    background-color: #EDF6F3;
    color: #6CA2A1;
    margin-right: 2%;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1070px){
  
    html{
        width: 1070px;     
        
    }
}