    @import url(https://fonts.googleapis.com/css?family=Raleway);


body{
    background-size: 1920px 500px;
    background-color: #0C122C;
    background-image: url('/images/bg-desktop.png');
    color: white;
    background-repeat: no-repeat;    
    background-position: bottom left;
    font-family: "Raleway";
    
}

section{

    width: 329px;
    height: 200px;
    background: #1e2c69;
    border-radius: 8px 100px 8px 8px;
    position: absolute;
    top: 310px;
    left: 350px;

}


.logo-icon{
    position: absolute;
    top: 25px;
    left: 20px;
        
}


.icons{
    position: absolute;
    top: 70px;    
}

.upload-icon{
    float: left;
    margin-top: 5px;
    margin-left: 16px;        
}

        .upload-icon .uploadBtn{
            position: absolute;
            top: 40px;
            left: 140;

        }

        .upload-icon .uploadSelected{
            position: absolute;
            top: 55px;
            left: 152;
            display: none;
        }

        .upload-icon .uploadHover{
            position: absolute;
            top: 40px;
            left: 140;
            display: none;
        }

                .upload-icon .uploadHover{
                    display: block;                    
                }
                        
                .uploadBtn:hover{
                    display: none;                    
                }  


.folder-icon{
    float: left;
    margin-top: 3px;
    margin-left: 16px;    
}

        .folder-icon .folderBtn{
            position: absolute;
            left: 80px;  
            top: 40px;

        }

        .folder-icon .folderHover{
            position: absolute;
            left: 80px;
            top: 40px;
            display: none;
        }

        .folder-icon .folderSelected{

            position: absolute;
            left: 92px;
            top: 54px;
            display: none;
            
        }

                .folder-icon .folderHover{
                    display: block;                    
                }
                        
                .folderBtn:hover{
                    display: none;                    
                }        



        .folderBtn:hover .folderHover{
    display: block;                    
}

.folderBtn:hover{
    display: none;                    
}

.document-icon{
    float: left;
    margin-left: 25px;
    margin: 40px;
}

        .document-icon .docBtn{
            position: absolute;
            left: 20px;   
            
        }

        .document-icon .docSelected{
            position: absolute;
            left: 34px;
            margin-top: 12px;
            display: none;
            
        }

        .document-icon .docHover{
            position: absolute;
            left: 20px;
            display: none;                 
        }

                .document-icon .docHover{
                    display: block;                    
                }
                        
                .docBtn:hover{
                    display: none;                    
                }    

            
aside{

    width: 500px;
    height: 150px;
    background: #1e2c69;
    position: absolute;
    top: 360px;
    left: 750px;
    border-radius: 8px;

}

.info{
    font-size: 13px;
    margin-left: 30px;
    margin-top: 25px;
    position: absolute;
    right: 190px;
    top: 40px;
    width: 220px;
    
}


.storage-left{
    font-size: 13px;
    position: absolute;
    top: 80px;
    left: 40px;
    
}

.storage-full{
    font-size: 13px;
    position: absolute;
    top: 80px;
    left: 414px;
}


/*
input[type=range]{
    width: 430px;    
    background-color: black;
    -webkit-appearance: none;
    border-radius: 8px;
    background: #FF6F95;  
    position: absolute;
    top: 100px;   
    right: -21px;      

}

*/


.slider-container{
    width: 150px;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    top: -35px;
    left: 300px;

}

.storage .number{
    position: absolute;
    left: 15px;
    top: -37px;
    font-weight: bold;
    font-size: 40px;
    color: 000;
}

.storage .words{
    position: absolute;
    left: 90px;
    top: 15px;
    font-weight: bold;
    font-size: 10px;
    color: gray;
}

.storage{
    position: absolute;
    top: -39px;    
    left: 300px;
    width: 145px;
    height: 50px;
}

.dot{
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    right:1px;
}

.bar{
    width: 430px;    
    background-color: #0c122c;
    border-radius: 8px;
    position: relative;
    top: 65px;
    right: -35px;
    height: 16px;


}


.bar-progress{
    width: 95%;
    height: 15px;
    background-image: linear-gradient(45deg, #f2a49e, #fb4d92);
    border-radius: 8px;
    position: relative;
    animation: progress 20s;
}

@keyframes progress{
    from{
        width: 2%;
        
    }

    to{
         width: 95%;
    }
}



@media screen and (max-width: 1000px) {

    aside{
        position: absolute;
        top: 530px;
        left: 350px;
        width: 280px;
        height: 180px;
        
    }

    section{
        width: 280px;
    }


    input[type=range]{
        position: absolute;
        top: -80px;
        left: -50px;
        width: 225px;   
        right: 185px;           
    
    }

    .storage{
        position: absolute;
        top: 146px;
        left: 74px;

    }
    
    .slider-container{
        position: abosolute;
        top: 150px;
        left: 70px;
    }

    .storage-info{
        position: absolute;
        height: 40px;
        top: 80px;
        left: -1px;
    }

    .storage-full{
        position: absolute;
        top: 1px;
        left: 200px;
    }

    .storage-left{
        position: absolute;
        top: 1px;
        left: 30px;

    }

    .info{
        position: absolute;
        top: -140px;
        left: -70px;

    }

    
    .bar{
        width: 215px;
           
    }

    body{
        background-size: cover;
        background-image: url('/images/bg-mobile.png');
        transition: 1s;
        position: relative;
        
    }

   
    


    
    }

    


    







